@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

h2 {
  padding: 5px;
}

html,
body,
button,
input {
  font-family: 'Roboto', sans-serif;
}

input {
  color: #fff !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #28405e;
}